.pokedex-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 1000px; */
    /* margin: 0 auto; */
    margin-top: 1rem;
}
*{
    margin: 0;
    padding: 0;
}